$red: red;
$grey: #F3F3F3;

body {
    background-color: $red;
}

.newExpenseForm {
    border: 5px solid $red;
}

.searchDaysForm {
    border: 5px solid $red;
}


.dayList {
	display: inline-block;
	width: 20%
}

.expenseList {
	display: inline-block;
	width: 30%
}

.expenseDescription {
	display: inline-block;
    padding: 10px;
    font-size: 18px;
    color: white;
    width: 40%;
}

.dayButton {
    background-color: white;
    padding: 10px;
    font-size: 18px;
    border: 5px solid black;

    &:hover {
        background-color: $grey;
        cursor: pointer;
    }

    .dayDate {
        display: inline-block;
        width: 50%;
    }

    .dayBalance {
        display: inline-block;
        width: 50%;
    }
}

.expenseButton {
    background-color: white;
    padding: 10px;
    font-size: 18px;
    border: 5px solid black;

    &:hover {
        background-color: $grey;
        cursor: pointer;
    }

    .expenseName {
        display: inline-block;
        width: 70%;
    }

    .expenseValue {
        display: inline-block;
        width: 30%;
    }
}